article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}[hidden]{display:none;}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}
pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	--color-text: #fff;
	--color-bg: #252525;
	--color-link: #fff;
	--color-link-hover: #49789e;
	--color-bg-item1: #15171b;
	--color-bg-item2: #2c35b7;
	--color-bg-item3: #0f1013;
	--color-bg-item4: #1d2027;
	--color-bg-item5: #0f1013;
	--color-item-alt: #bb7d80;
	--color-quote: #a3a6aa;
	--color-info: #57535a;
	--color-title: #4f85fa;
	--color-tagline: #494d86;
	/* font-family: "europa", Futura, Arial, sans-serif; */
	/* font-family: 'KoHo', sans-serif; */
	font-family: lieberuth,sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	overflow: hidden;
	padding: 6rem 0 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.logo {
	width: 80%;
	opacity: 1;
    margin-bottom: 0px;
    margin-top: 0px;
}




/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}


a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	transition: color 0.2s;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

button:focus,
a:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
	width: 100%;
}

img {
	width: 40%;
	opacity: 0.3;
    margin-bottom: 64px;
    margin-top: -24px;

}






.frame {
	position: relative;
	z-index: 199;
}

.content {
	background-image: linear-gradient(to left, #024baa 0%, #fff 24%, #fff 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
	text-align: center;
	position: relative;
	z-index: 100;
}

.background {
	perspective: 1000px;
}


.slide-in-right {
	-webkit-animation: slide-in-right 2s ease-in-out forwards;
	        animation: slide-in-right 2s ease-in-out forwards;
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
	0% {
	  -webkit-transform: translateX(1000px);
			  transform: translateX(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-right {
	0% {
	  -webkit-transform: translateX(1000px);
			  transform: translateX(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }
  

  .shake-top {
	-webkit-animation: shake-top 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-top 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

/**
 * ----------------------------------------
 * animation shake-top
 * ----------------------------------------
 */
@-webkit-keyframes shake-top {
	0%,
	100% {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	  -webkit-transform-origin: 50% 0;
			  transform-origin: 50% 0;
	}
	10% {
	  -webkit-transform: rotate(2deg);
			  transform: rotate(2deg);
	}
	20%,
	40%,
	60% {
	  -webkit-transform: rotate(-4deg);
			  transform: rotate(-4deg);
	}
	30%,
	50%,
	70% {
	  -webkit-transform: rotate(4deg);
			  transform: rotate(4deg);
	}
	80% {
	  -webkit-transform: rotate(-2deg);
			  transform: rotate(-2deg);
	}
	90% {
	  -webkit-transform: rotate(2deg);
			  transform: rotate(2deg);
	}
  }
  @keyframes shake-top {
	0%,
	100% {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	  -webkit-transform-origin: 50% 0;
			  transform-origin: 50% 0;
	}
	10% {
	  -webkit-transform: rotate(2deg);
			  transform: rotate(2deg);
	}
	20%,
	40%,
	60% {
	  -webkit-transform: rotate(-4deg);
			  transform: rotate(-4deg);
	}
	30%,
	50%,
	70% {
	  -webkit-transform: rotate(4deg);
			  transform: rotate(4deg);
	}
	80% {
	  -webkit-transform: rotate(-2deg);
			  transform: rotate(-2deg);
	}
	90% {
	  -webkit-transform: rotate(2deg);
			  transform: rotate(2deg);
	}
  }
  



.background, .background__copy {

    position: fixed;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/1.jpg);
    background-position: 90% 80%;
    background-size: 37%;
    z-index: 1;
    background-repeat: no-repeat;
	background-color: #3358918c;
}

.background__copy {
	

		display:none!important;
	
}

/* Header */
.codrops-header {
	width: 35%;
	position: relative;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
	align-self: start;
}

.codrops-header__title b {
	font-size: 0.8rem;
	margin-top: 10px;
    padding-left: 0rem;
    text-align: center;
    max-width: 74%;
	color: #5ad3f1;
	font-family: "europa", Futura, Arial, sans-serif; 
	font-weight: 100;
	width: 200px;
}






.codrops-header__title {
	font-size: 1.5rem;
	line-height: 1;
	font-weight: normal;
	margin: 0 1rem;
	font-family: "roboto";
}

.info {
	font-size: 1.3em;
	display: block;
	grid-area: info;
	margin: 0rem 0rem;
	justify-self: end;
	text-align: center;
	color: white!important;
	font-family: "roboto";
}

.github {
	display: block;
	margin: 1rem 0 0 0;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	font-size: 0.85rem;
}

.codrops-icon {
	display: inline-block;
	padding: 0.25em;
}

.content__title {
    /* font-family: "sabbath-black", serif; */
    /* font-family: 'KoHo', sans-serif; */
    /* font-family: lieberuth,sans-serif; */
    font-family: kon-tiki-aloha-jf, sans-serif;
	font-size: 4vw;
	/* background-color: rgba(6, 62, 248, 0.5); */
    font-weight: normal;
    mix-blend-mode: screen;
    line-height: 0.8;
    text-transform: lowercase;
    margin: 0;
    color: #00ffb3;
	z-index: 199;
    margin-left: -12em;
}

.slide-in-left {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}


/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
	0% {
	  -webkit-transform: translateX(-1000px);
			  transform: translateX(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-left {
	0% {
	  -webkit-transform: translateX(-1000px);
			  transform: translateX(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }
  




  .content__tagline {
	  font-weight: 100;
    color: #ffffff;
    /* margin: 0 0 0 0; */
    margin-top: 1rem;
    /* background-color: rgba(0, 1, 7, 0.5); */
    margin-right: 0px;
    margin-top: 0rem;
    /* margin-right: 0px; */
    margin-top: 1rem;
    font-weight: 100;
    font-size: 1.6rem;
    /* letter-spacing: 0rem; */
    /* word-spacing: 0rem; */
    text-transform: lowercase;
    /* text-align: left; */
    z-index: 199;
    margin-right: 45%;
    font-family: "roboto";
}
.action {
	background: none;
	border: 0;
	color: #fff;
	cursor: pointer;
	padding: 0;
}

.action--menu {
	pointer-events: auto;
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	z-index: 1000;
}

.menu--open .action--menu {
	pointer-events: none;
}

.action--close {
	position: absolute;
	top: 2rem;
	right: 2.4rem;
	z-index: 1000;
	opacity: 0;
	padding: 0 1rem;
}

.icon--menu {
	width: 3rem;
}

.icon--close {
	width: 3rem;
}

.menu {
	text-align: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(3,33.33%);
	pointer-events: none;
}

.menu--open {
	pointer-events: auto;
}

.menu__item {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.menu__item-inner {
	overflow: hidden;
	transform: translate3d(100%,0,0);
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu__item--1 .menu__item-inner {
	background: var(--color-bg-item1);
}
.menu__item--2 .menu__item-inner {
	background: var(--color-bg-item2);
}
.menu__item--3 .menu__item-inner {
	background: var(--color-bg-item3);
}
.menu__item--4 .menu__item-inner {
	background: var(--color-bg-item4);
}
.menu__item--5 .menu__item-inner {
	background: var(--color-bg-item5);
}

.menu__item--4, 
.menu__item--5 {
	display: none;
}

.label {
	display: none;
}

.mainmenu__item {
	opacity: 0;
}

.mainmenu__item,
.sidemenu__item {
	position: relative;
	overflow: hidden;
	transition: color 0.1s;
	margin: 0.25rem 0;
	display: block;
}

.sidemenu__item-inner {
	display: block;
	/* transform: translate3d(0,100%,0); */
	
}

.menu__item-map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/2.jpg) no-repeat 50% 50%;
	background-size: cover;
	transition: transform 0.8s cubic-bezier(0.2,1,0.8,1);
}

.menu__item-inner:hover .menu__item-map {
	transform: scale3d(1.1,1.1,1);
}

.menu__item-hoverlink {
	font-weight: bold;
	text-transform: capitalize;
	position: relative;
	z-index: 1000;
	display: block;
}

.menu__item-hoverlink:hover {
	color: var(--color-link);
}


.quote {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    max-width: 80%;
    color: var(--color-quote);
	font-family: "europa", Futura, Arial, sans-serif;
	background-image: linear-gradient(#021830, #0c1218);
	background-size: auto 200%;
	background-position: 0 100%;
	transition: background-position 0.5s;
}

.quote:hover {
	background-position: 0 0;
  }



b {
    font-size: 1rem;
    padding-left: 0rem;
    text-align: center;
    max-width: 74%;
	color: #fcfcfc;
	font-family: "europa", Futura, Arial, sans-serif; 
	font-weight: 100;
}

.menu__item-link {
	text-align: left;
	align-self: flex-start;
	justify-self: start;
	font-size: 1.5rem;
	width: 100%;
	line-height: 1;
	padding: 2rem ;
	margin: 3rem 0 auto;
	display: flex;
	flex-direction: column;
	height: calc(100% - 3rem);
	font-family: "europa", Futura, Arial, sans-serif; 
}

.menu__item-link::after {
	content: '\27F6';
	display: block;
	margin-top: auto;
	font-size: 0.95rem;
}

svg:not(:root) {
    margin-top: 7px;
    overflow: hidden;
    margin-right: 20px;
}

.vertical {
	color: #a3a6aa!important;
	font-weight: 100;
}














/* media query */

@media screen and (max-width: 847px) {


	.content {
/* 
		background-image: linear-gradient(to left
		 #024baa 0%, rgb(197, 16, 16) 24%, rgb(235, 15, 15) 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #d123ae 84%, #2c0fcf 100%)!important; */
		text-align: center;
		position: relative;
		z-index: 100;
		height: 100vh;
	
	}


	.content__tagline {

		color: #ffffff;
		margin: 0 0 0 0;
			margin-top: 0px;
			margin-right: 0px;
		margin-top: 1rem;
		margin-right: 0px;
		margin-top: 0rem;
		margin-right: 0px;
		margin-top: 1rem;
		font-weight: 100;
		font-size: 1.3rem;
		letter-spacing: 0rem;
		word-spacing: 0rem;
		text-transform: lowercase;
		z-index: 199;
		margin-right: 0%;
		font-family: "roboto";
	
	}
	.content__title {

		font-family: kon-tiki-aloha-jf, sans-serif;
		font-size: 13vw;
		font-weight: normal;
		mix-blend-mode: screen;
		line-height: 0.8;
		text-transform: lowercase;
		margin: 0;
		color: #00ffb3;
		z-index: 199;
	
	}

	
	b {

		font-size: 1rem;
		padding-left: 2rem;
		text-align: center;
		max-width: 79%;
		color: #fcfcfc;
		font-family: "europa", Futura, Arial, sans-serif;
		font-weight: 100;
	
	}

	.frame  p {
		display: none!important;
		font-size: 1.3em;
		display: block;
		grid-area: info;
		margin: 0rem 0rem;
		justify-self: end;
		text-align: center;
		color: white;
		font-family: "europa", Futura, Arial, sans-serif !important;
	
	}

	.background {

		position: fixed;
		width: 100%;
		height: 100%;
		top: 397px;
		left: 135px;
		background-image: url(../img/1.jpg);
		background-position: 90% 80%;
		background-size: 37%;
		z-index: 1;
		background-repeat: no-repeat;
	background-color: none;
	
	}

	.background {

		position: fixed;
		width: 100%;
		height: 100%;
		top: 53px;
		left: 0;
		background-image: url(../img/1.jpg);
		background-position: 90% 80%;
		background-size: 37%;
		z-index: 1;
		background-repeat: no-repeat;
		background-color: transparent;
	
	}
	.github {
		width: 55%;
		display: block;
		margin: 1rem 42px 35px 0px;
	
	}



	

}

























@media screen and (min-width: 53em) {
	body {
		padding: 0;
	}






	
	.content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		min-height: 100vh;
		text-align: left;
	}
	/* .content__tagline {

		color: #dd0707;
		margin: 0 0 0 0;
		margin-top: 1rem;
		background-color: rgba(0, 1, 7, 0.5);
		margin-right: 0px;
		margin-top: 0rem;
		margin-right: 0px;
		margin-top: 1rem;
		font-weight: 100;
		font-size: 1rem;
		letter-spacing: 0rem;
		word-spacing: 0rem;
		text-transform: lowercase;
		text-align: left;
		z-index: 199;
		margin-right: 26em;
		font-family: "europa", Futura, Arial, sans-serif;
	
	} */











	.frame {
		position: fixed;
		z-index: 199;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 1.5rem;
		pointer-events: none;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 
		'codropsheader info'
		'... ...'
		'github ...';
	}
	.codrops-header {
		grid-area: codropsheader;
		padding: 0;
		justify-content: start;
	}
	.codrops-links {
		margin: 0;
	}
	.frame a {
		pointer-events: auto;
	}
	.github {
		grid-area: github;
		justify-self: start;
	}
	.info {
		margin: 0 6rem 0 0;
		color: var(--color-info);
		font-family: lieberuth,sans-serif; 
	}
	.menu {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		grid-template-columns: 20% 30% 50%;
		grid-template-rows: 60% 40%;
		grid-template-areas: 
            "item3 item2 item1"
            "item4 item5 item1";
	}
	.menu__item {
		height: 100%;
	}
	.menu__item--1 {
		grid-area: item1;
	}
	.menu__item--2 {
		grid-area: item2;
	}
	.menu__item--3 {
		grid-area: item3;
	}
	.menu__item--4 {
		grid-area: item4;
	}
	.menu__item--5 {
		grid-area: item5;
	}
	.menu__item--4, 
	.menu__item--5 {
		display: block;
	}
	.menu__item-inner {
		align-items: center;
	}
	.label {
		font-weight: 100;
		display: block;
		color: var(--color-item-alt);
		position: absolute;
		z-index: 1000;
		font-size: 1.2rem;
		font-weight: bold;
		margin: 0;
		white-space: nowrap;
		font-weight: 100;
	}
	.label--topleft {
		top: 2rem;
		left: 2rem;
	}
	.label--vert,
	.label--vert-mirror {
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
	}
	.label--vert-mirror {
		transform: rotate(180deg);
	}
	.label--bottomright {
		bottom: 2rem;
		right: 2rem;
	}
	.label::before {
		content: '>>';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		letter-spacing: -1px;
		margin: 0 0.75rem 0 0;
	}
	.label--vert::before,
	.label--vert-mirror::before {
		margin: 0.75rem 0;
	}
	.mainmenu,
	.sidemenu {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.mainmenu {
		counter-reset: menuitem;
	}
	.mainmenu__item {
		font-size: 3vw;
		text-transform: lowercase;
		overflow: visible;
		margin: 0.5rem 0;
		padding: 0 0.5rem;
		position: relative;
		transition: color 0.3s;
		font-family: kon-tiki-aloha-jf, sans-serif;
	}
	.mainmenu__item:hover {
		color: var(--color-item-alt);
	}
	.mainmenu__item::before {
		counter-increment: menuitem;
		content: counters(menuitem, "", decimal-leading-zero);
		position: absolute;
	    font-size: 0.85rem;	
	    top: 25%;
	    left: -1.25rem;
	    color: var(--color-item-alt);
	}
	.mainmenu__item::after {
		content: '';
		width: 100%;
		top: 58%;
		height: 6px;
		background: var(--color-link-hover);
		position: absolute;
		left: 0;
		opacity: 0;
		transform: scale3d(0,1,1);
		transition: transform 0.3s, opacity 0.3s;
		transform-origin: 100% 50%;
	}
	.mainmenu__item:hover::after {
		opacity: 1;
		transform: scale3d(1,1,1);
	}
	.sidemenu__item {
		text-transform: uppercase;
		letter-spacing: 0.15rem;
		font-size: 0.85rem;
	}
	.menu__item-hoverlink {
		font-size: 1.25rem;
		text-transform: lowercase;
		border-bottom: 2px solid #fff;
		opacity: 0;
		transition: opacity 0.3s;
	}
	.menu__item-inner:hover .menu__item-hoverlink {
		opacity: 1;
	}
}


